@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

html {
  background-color: #212121;
  color:#fff;
}

input[type="text"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #78909c;
  border-radius: 4px;
  color: #212121;
  font-family: "Roboto";
  font-size: 1em;
}
li {
  list-style-type: none;
}

body {
  text-align: center;
  font-family: "Roboto";
}

.main-text{
    color: #fff;
}

.button {
    background-color:#78909c; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
  }

.container {
  width: 60%;
  /*height: 200px;*/
  margin: auto;
  padding: 10px;
}

.left {
  width: 20%;
  height: 100%;
  background: fff;
  float: left;
}

.right {
  margin-left: 15%;
  height: 100%;
  background: fff;
}

.user-name {
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  text-align: left;
}

li:hover {
  background-color: #78909c;
  color: #ffffff;
}

.separator {
  padding: 1em;
}
.no-show {
  display: none;
}
.show {
  display: block;
}

.active {
  background-color: #78909c;
  color: #ffffff;
}
